<div
  class="min-h-screen flex flex-col justify-center items-center bg-gray-100 p-4"
>
  <div class="bg-white shadow-md rounded-lg p-6 max-w-lg w-full">
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-800">
      Estimador de Desarrollos
    </h1>
    <div class="mb-6">
      <label
        for="desarrollo"
        class="block text-lg font-medium text-gray-700 mb-2"
      >
        Horas de Desarrollo
      </label>
      <input
        type="number"
        id="desarrollo"
        [(ngModel)]="desarrolloHoras"
        (input)="calcularEstimacion()"
        class="w-full p-3 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        placeholder="Ingrese las horas de desarrollo"
      />
    </div>
    <div
      *ngIf="showEstimaciones || animatingOut"
      [ngClass]="{
        'animate-slideInDown': showEstimaciones && !animatingOut,
        'animate-slideOutUp': animatingOut
      }"
      class="bg-gray-50 p-4 rounded-lg overflow-hidden"
    >
      <h2 class="text-2xl font-semibold mb-4 text-gray-700">Estimaciones:</h2>
      <ul class="space-y-2">
        <li class="flex justify-between">
          <span>Análisis Funcional:</span>
          <span>{{ estimaciones?.analisisFuncional }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Análisis Técnico:</span>
          <span>{{ estimaciones?.analisisTecnico }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Desarrollo:</span>
          <span>{{ estimaciones?.desarrollo }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Pruebas Unitarias:</span>
          <span>{{ estimaciones?.pruebasUnitarias }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Pruebas de Integración:</span>
          <span>{{ estimaciones?.pruebasIntegracion }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Implementación y Soporte:</span>
          <span>{{ estimaciones?.implementacionYSoporte }} horas</span>
        </li>
        <li class="flex justify-between">
          <span>Gestión:</span>
          <span>{{ estimaciones?.gestion }} horas</span>
        </li>
        <li class="flex justify-between font-bold text-lg">
          <span>Total:</span>
          <span>{{ totalHoras }} horas</span>
        </li>
      </ul>
    </div>
  </div>
</div>
