@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega animaciones personalizadas */
@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    max-height: 0;
  }
  to {
    transform: translateY(0);
    max-height: 1000px;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    max-height: 1000px;
  }
  to {
    transform: translateY(-20px);
    max-height: 0;
  }
}

.animate-slideInDown {
  animation: slideInDown 0.5s;
}

.animate-slideOutUp {
  animation: slideOutUp 0.5s;
}

.canva-style-1 {
  display: flex;
  width: 305px;
  height: 270px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.canva-style-2 {
  display: flex;
  width: 320px;
  height: 300px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.canva-style-3 {
  display: flex;
  width: 350px;
  height: 320px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.canva-style-4{
  display: flex;
  width: 310px;
  height: 290px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}


input:checked + label .dot {
  transform: translateX(1rem);
}

input:checked + label .block {
  background-color: #4b5563; 
}

.eliminar-button {
  border: none; 
  color: white;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  color: black;
  transition: transform 0.2s ease; 
}

.eliminar-button:hover {
  transform: scale(1.1);
}

.bg-gray-400 {
  background-color: #cbd5e0; 
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.tabs {
  display: flex;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f3f4f6;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
}

.active-tab {
  background-color: #e5e7eb;
  font-weight: bold;
  border-bottom: 2px solid #3b82f6;
}

#pdf-content table {
  page-break-inside: avoid;
  break-inside: avoid;
}

#pdf-content tr {
  page-break-inside: avoid;
  break-inside: avoid;
}

.word-break {
  word-break: break-word; 
}

.w-400px {
  width: 400px;
}
