@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega animaciones personalizadas */
@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    max-height: 0;
  }
  to {
    transform: translateY(0);
    max-height: 1000px;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    max-height: 1000px;
  }
  to {
    transform: translateY(-20px);
    max-height: 0;
  }
}

.animate-slideInDown {
  animation: slideInDown 0.5s;
}

.animate-slideOutUp {
  animation: slideOutUp 0.5s;
}

.canva-style {
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

input:checked + label .dot {
  transform: translateX(1rem);
}

input:checked + label .block {
  background-color: #4b5563; 
}

/* Nuevo estilo para el botón "Agregar Tarea" */
button {
  background-color: #007BFF; /* Color de fondo azul */
  border: none; /* Sin borde */
  color: white; /* Texto blanco */
  padding: 12px 24px; /* Padding */
  text-align: center; /* Alinear texto al centro */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Márgenes */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
